* {
	margin: 0;
	height: 100%; 
}

body {
	overflow-x: hidden;
	background-color: #000000;
}

.container {
	--n: 0;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	width: 100%; // fallback
	width: calc(var(--n)*100%);
	height: 50vw;
	max-height: 100vh;
	transform: translate(calc(var(--i, 0)/var(--n)*-100%));

	iframe {
		width: 100%; // fallback
		width: calc(100%/var(--n));
		height:100%
		user-select: none;
		pointer-events: none;
	}
}
